@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<IEnumerable<Dnn.BceDNNModule1.Models.Item>>

@using System.Text.RegularExpressions
@using DotNetNuke.Web.Mvc.Helpers


<div id="Items-@Dnn.ModuleContext.ModuleId">
    @if (Model.Count() == 0)
    {
        <p>@Dnn.LocalizeString("NoItems")</p>
    }
    else
    {
        <ul class="tm_tl">
            @foreach (var item in Model)
            {
                <li class="tm_t">
                    <h3>@item.ItemName</h3>
                    <div class="tm_td">@item.ItemDescription</div>
                    @{
                        if (Dnn.ModuleContext.IsEditable)
                        {
                            <div>
                                <a href="@Url.Action("Edit", "Item", new {ctl = "Edit", itemId = item.ItemId})">@Dnn.LocalizeString("EditItem")</a>
                                <a href="@Url.Action("Delete", "Item", new {itemId = item.ItemId})">@Dnn.LocalizeString("DeleteItem")</a>
                            </div>
                        }
                    }
                </li>
            }
        </ul>
    }
</div>

@{
    Layout = null; // Ha nem szeretnénk, hogy az oldalunk az alapértelmezett elrendezést használja
}

<html>
<head>
    <title>Trekking a hegyekben - Jelentkezés</title>
    <style>
        #er {
            width: 40%;
            max-width: 400px;
            margin: 0 auto;
            background-color: #656839;
            border-radius: 20px;
            padding: 20px;
        }

        h2 {
            color: white;
            text-align: center;
            text-decoration: underline;
        }

        input, select {
            background-color: #bec19580;
            border-radius: 10px;
            border-style: none;
            width: 100%;
            height: 20px;
            margin-bottom: 10px;
            color: white;
        }

        label {
            color: white;
            font-weight: 600;
            display: block;
            margin-bottom: 5px;
        }

        #gomb, #gomb1 {
            color: white;
            width: 120px;
            height: 35px;
        }

        #kontent {
            align-content: center;
        }

        .gombok {
            display: flex;
            justify-content: space-between;
        }

        #turaselectionContainer, #checkboxContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 20px;
        }

        #checkboxContainer {
            flex-direction: row;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

        #checkboxLabel {
            margin-left: 5px;
            white-space: nowrap;
        }

        #checkbox {
            margin-right: 160px;
        }
    </style>
</head>
<body>
    <div id="er">
        <h2>Túra Jelentkezés</h2> <br />
        <div id="kontent">
            <form method="post" action="submit_form.cshtml">
                <div id="turaselectionContainer">
                    <label for="turaselection">Válassz egy túrát:</label>
                    <select id="turaselection" name="tura">
                        <option value="A">Trekking a hegyekben</option>
                        <option value="B">Vadászles/célzógyakorlat</option>
                        <option value="C">Táborozás/tábortűz készítés</option>
                    </select>
                </div>

                <label for="name">Név: </label>
                <input type="text" id="name" name="name" required><br />

                <label for="birthPlace">Születési hely: </label>
                <input type="text" id="birthPlace" name="birthPlace" required><br />

                <label for="birthDate">Születési dátum: </label>
                <input type="date" id="birthDate" name="birthDate" required><br />

                <label for="address">Lakcím: </label>
                <input type="text" id="address" name="address" required><br />

                <label for="phoneNumber">Telefonszám: </label>
                <input type="tel" id="phoneNumber" name="phoneNumber" pattern="[0-9]{11}" required><br />
                <br/>
                <div id="checkboxContainer">

                    <label id="checkboxLabel" for="checkbox">Elfogadod a feltételeket?</label>
                    <input type="checkbox" id="checkbox" name="accept" required>
                </div>

                <div class="gombok">
                    <input id="gomb" type="submit" value="Jelentkezés">
                    <input id="gomb1" type="button" value="Mégse">
                </div>
            </form>
        </div>
    </div>
</body>
</html>



